#General C leftovers
*.o
*.obj
*.hex
*.atsln
*.atsuo
*.cproj
*.ini

#Atmel Studio's Debug folder
*/Debug/

#matlab backup files
*.m~

#other files
*.xml

#This entire block is for Icon\r\r
*Icon
#end block.

#DS Store... a mac thing
.DS_Store
